*.pyc
pypilot.egg-info
build
dist
hat/ugfx/ugfx.py
hat/ugfx/ugfx_wrap.cpp
deps
*.mo
*.FCBak
cad/**/*.stl
.idea/
**/.DS_Store
opencpn_plugin/autopilot_pi/.flatpak-builder/
circuit/tools/node_modules/
circuit/tools/.eda-profile/
circuit/tools/*-dump.json

circuit/tools/projects.draft.json
circuit/tools/inspect-screenshot.png
